<!DOCTYPE html>
<html lang="en">
  <%- include('baseTemplateHead', {title}) %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%- include('baseTemplateNav') %> 
        </div>

        <div class="col-sm-10">
          <h1><%= title %></h1>

          <form method="POST">
            <div class="form-group">
              <label for="first_name">First Name: </label>
              <input
                type="text"
                id="first_name"
                class="form-control"
                name="first_name"
                required
                value="<%= author === undefined ? '' : author.first_name %>"
                placeholder="First name (Christian)"
              />

              <label for="family_name">Family Name: </label>
              <input
                type="text"
                id="family_name"
                class="form-control"
                name="family_name"
                required
                value="<%= author === undefined ? '' : author.family_name %>"
                placeholder="Family name (Surname)"
              />
            </div>

            <div class="form-group">
              <label for="date_of_birth">Date of Birth</label>
              <input
                type="date"
                id="date_of_birth"
                class="form-control"
                name="date_of_birth"
                value="<%= author === undefined ? '' : author.date_of_birth_yyyy_mm_dd %>"
              />
            </div>

            <div class="form-group">
              <label for="date_of_death">Date of Death</label>
              <input
                type="date"
                id="date_of_death"
                class="form-control"
                name="date_of_death"
                value="<%= author === undefined ? '' : author.date_of_death_yyyy_mm_dd %>"
              />
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>

          <ul>
            <% errors.forEach(err => { %>
            <li><%= err.msg %></li>
            <%}) %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
